/*
*
Author: @ju4nr3v0l at lm Team
Description: css for ET Plugin
Version: 1.0.0
*/
.galeriatumb span {
	color:red;
}

.galeriatumb .foto-text{
	width: 100%!important;
}
.masInfo:hover{
	cursor: pointer;
}

.prev, .next{
	background: none!important;
	border:none!important;
}